.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  font-family: "kalam", cursive;
  font-size: 5rem;
  /* color: brown */
}
body {
  background-color: blue;
}

div {
  background-color: gray;
}
input {
  border: 2px solid black;
  font-family: "kalam", cursive;
  font-size: 1rem;
}
h3 {
  font-family: "kalam", cursive;
  font-size: xx-large;
  margin-top: 10%;
}
